*.pyc
*~
__pycache__
myvenv
Lib
Scripts
db.sqlite3
/static
.DS_Store
Obamicon.py
OneDrive/
Pictures/
Saved Games/
Searches/
TextAdventure.py
Videos/
aboutme.htm
blur.py
flowers.webp
girl_genius.jpeg
helloworld.py
import
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
recolored.jpg
styles.css
test.py
AddPrime.py
Adventure.py
AppData/
Ariel.jpeg
Contacts/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
DrawShapes.py
Favorites/
Haiku.py
Links/
Music/
NTUSER.DAT
NTUSER.DAT{eec516eb-39cf-11e7-bd8d-9d3a5c104dd9}.TxR.0.regtrans-ms
NTUSER.DAT{eec516eb-39cf-11e7-bd8d-9d3a5c104dd9}.TxR.1.regtrans-ms
NTUSER.DAT{eec516eb-39cf-11e7-bd8d-9d3a5c104dd9}.TxR.2.regtrans-ms
NTUSER.DAT{eec516eb-39cf-11e7-bd8d-9d3a5c104dd9}.TxR.blf
NTUSER.DAT{eec516ec-39cf-11e7-bd8d-9d3a5c104dd9}.TM.blf
NTUSER.DAT{eec516ec-39cf-11e7-bd8d-9d3a5c104dd9}.TMContainer00000000000000000001.regtrans-ms
.atom/
.idlerc/
.jssc/
NTUSER.DAT{eec516ec-39cf-11e7-bd8d-9d3a5c104dd9}.TMContainer00000000000000000002.regtrans-ms